.accordion-container {
  width: 95%;
  height: auto;
}

.accordion-item-container {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  align-items: center;
  line-height: 0px;
}

.accordion-dropdown-container {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  align-items: center;
  line-height: 0px;
}

.accordion-dropdown-text {
  place-self: start;
}

.accordion-button {
  place-self: centre;
  cursor: pointer;
}

.info-open {
  font-size: 16px;
  text-align: center;
  background: #5d637d;
  color: #cad5c4;
  padding: 10px 5px;
  margin: 10%;
  border: 2px solid #9d9f9d;
}
