.accordion-container {
  width: 95%;
  height: auto;
}

.accordion-item-container {
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
  line-height: 0px;
}

.accordion-dropdown-container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  line-height: 0px;
}

.accordion-dropdown-text {
  place-self: start;
  color: black;
}

.accordion-button {
  place-self: centre;
  color: black;
  cursor: pointer;
}
